{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% block content %}



<!-- Start Banner 
    ============================================= -->
<div class="auto-height bg-fixed banner-style-one">
    <div class="container">
        <div class="double-items">
            <div class="row align-center">

                <div class="col-lg-6 info">
                    <h1 class="text-invisible">WELCOME</h1>
                    <h2>Hey I'm <span>Sabya Roy</span></h2>
                    <h3 class="title">
                        <span class="header-caption" id="page-top">
                            <!-- type headline start-->
                            <span class="cd-headline clip is-full-width">
                                <!-- ROTATING TEXT -->
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Web Designer</b>
                                    <b class="is-hidden">Web Developer</b>
                                    <b class="is-hidden">Professional Coder</b>
                                </span>
                            </span>
                            <!-- type headline end -->
                        </span>
                    </h3>
                    <div class="button mt-55">
                        <a class="btn btn-md circle btn-dark" href="#resume">My Resume</a>
                    </div>
                </div>

                <div class="col-lg-6 thumb" data-wow-delay="900ms">
                    <img class=" wow fadeInDown" src="{% static 'assets/img/illustration/1.png' %}" alt="Thumb">
                    <div class="shape-center">
                        <img src="{% static 'assets/img/shape/7.png' %}" alt="Thumb">
                    </div>
                </div>

            </div>
            <div class="personal-social">
                <ul>
                    <li class="facebook">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="github">
                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="linkedin-in">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start Services
    ============================================= -->
<div id="services" class="services-style-one-area box-layout default-padding bottom-less bg-light">
    <div class="blur-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Services</h4>
                    <h2 class="title">What I Do </h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for service in services %}
            <!-- Single Item -->
            <div class="service-style-one col-lg-4 col-md-6">
                <div class="service-style-one-item">
                    <img src="{{ HTTP_HOST }}/media/{{ service.image }}" alt="Icon" class="mb-4">
                    <h4>{{ service.title }}</h4>
                    <p>
                        {{ service.details }}
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            {% endfor %}
        </div>
    </div>

</div>
<!-- End Services -->

<!-- Start Portfolio 
    ============================================= -->
<div id="portfolio" class="portfolio-style-six-area default-padding-top">
    <div class="shape-animated-right">
        <img src="{% static 'assets/img/shape/1.webp' %}" alt="Shape">
    </div>

    <div class="container">
        <div class="heading-left">
            <div class="row align-center">
                <div class="col-lg-5">
                    <div class="left-info">
                        <h5 class="sub-title">Recent Work</h5>
                        <h2 class="title">Look at my portfolio and <br> give me your feedback</h2>
                        <div class="heading-shape">
                            <img src="{% static 'assets/img/shape/10.png' %}" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="right-info">
                        <div class="fun-factor-default">
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="276" data-speed="2000">276</div>
                                    <div class="operator">K</div>
                                </div>
                                <span class="medium">Completed Project</span>
                            </div>
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="94" data-speed="2000">94</div>
                                    <div class="operator">%</div>
                                </div>
                                <span class="medium">Positive Rating</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 gallery-content mb--15">
                <div class="magnific-mix-gallery masonary">
                    <div id="portfolio-grid" class="gallery-items colums-3">

                        {% for project in projects %}
                        <!-- Single Item -->
                        <div class="pf-item">
                            <div class="overlay-content">
                                <img src="{{ HTTP_HOST }}/media/{{ project.image }}" alt="thumb">
                                <div class="content">
                                    <div class="title">
                                        <span>{{ project.category.title }}</span>
                                        <h5>
                                            <a href="{% url 'portfolio.show' project.slug %}">
                                                {{ project.title }}</a>
                                        </h5>
                                    </div>
                                    <a href="{% url 'portfolio.show' project.slug %}"><i
                                            class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Portfolio -->

<!-- Start About 
    ============================================= -->
<div id="about" class="about-style-six-area default-padding-top">
    <div class="container">
        <div class="row align-center">
            <div class="about-style-six col-lg-5">
                <div class="thumb">
                    <img class="wow fadeInUp" src="{% static 'assets/img/illustration/3.png' %}" alt="Thumb">
                </div>
            </div>
            <div class="about-style-six col-lg-6 offset-lg-1">
                <h4 class="sub-title">About Me</h4>
                <h2 class="title">I am a full-stack<br> Web Developer</h2>
                <p>
                    Hello, I'm Sabya Roy, a professional full-stack web developer. With a passion for creating dynamic
                    and engaging web experiences, I have honed my skills in both front-end and back-end development.
                    Over the years, I have gained extensive experience in building robust and scalable web applications
                    that meet the unique needs of clients and users alike.
                </p>
                <div class="skill-list">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-globe"></i>
                            </div>
                            <div class="content">
                                <h4>Professional Web Developer</h4>
                                <span>PHP, Python, ASP.net</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-browser" style="background: #7952b3;"></i>
                            </div>
                            <div class="content">
                                <h4>Senior Web Developer</h4>
                                <span>Supervisor - AmintechBD</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Resume 
    ============================================= -->
<div id="resume" class="resume-area default-padding-top">
    <div class="shape-right-top-extra">
        <img src="{% static 'assets/img/shape/14.png'%}" alt="Shape">
    </div>
    <div class="container">
        <div class="experience-content-box">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">

                    <div class="nav nav-tabs text-center resume-tab-navs" id="nav-tab" role="tablist">

                        <button class="nav-link active" id="nav-id-1" data-bs-toggle="tab" data-bs-target="#tab1"
                            type="button" role="tab" aria-controls="tab1" aria-selected="true">
                            Biography <strong>01</strong>
                        </button>
                        <button class="nav-link" id="nav-id-2" data-bs-toggle="tab" data-bs-target="#tab2" type="button"
                            role="tab" aria-controls="tab2" aria-selected="false">
                            Skills <strong>02</strong>
                        </button>
                        <button class="nav-link" id="nav-id-3" data-bs-toggle="tab" data-bs-target="#tab3" type="button"
                            role="tab" aria-controls="tab3" aria-selected="false">
                            Education <strong>03</strong>
                        </button>

                    </div>

                    <div class="tab-content resume-tab-content" id="nav-tabContent">
                        <!-- Single Item -->
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-id-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="biography-table">
                                        <li>
                                            <h5>Name</h5>
                                            <p>
                                                {{ info.name }}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Birthday</h5>
                                            <p>
                                                {{ info.birth_day }}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Age</h5>
                                            <p>
                                                {% calculate_age info.birth_day %}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Address</h5>
                                            <p>
                                                {{ info.address }}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Email</h5>
                                            <p>
                                                {{ info.email }}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Phone</h5>
                                            <p>
                                                {{ info.phone }}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Skype</h5>
                                            <p>
                                                {{ info.skype }}
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Freelance</h5>
                                            <p>
                                                {{ info.freelance }}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="nav-id-2">
                            <div class="row align-center">
                                <div class="col-lg-12">
                                    <ul class="skill-table row">
                                        {% for skill in skills %}
                                        <div class="col-lg-6 mb-3">
                                            <div class="d-flex align-items-center gap-4">
                                                <div class="icon">
                                                    <img src="{{ HTTP_HOST }}/media/{{ skill.icon }}" alt=""
                                                        style="width: 100px;">
                                                </div>
                                                <h4>{{ skill.title }}</h4>
                                                <div class="progress-box">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar"
                                                            data-width="{{ skill.percentage }}"></div>
                                                    </div>
                                                    <h4>{{ skill.percentage }}%</h4>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="nav-id-3">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="education-table">
                                        {% for education in educations %}
                                        <li>
                                            <h4>{{ education.degree }}</h4>
                                            <h5>{{ education.college }}</h5>
                                            <span>{{ education.date }}</span>
                                            <p>
                                                {{ education.details }}
                                            </p>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Resume -->



<!-- Start Brand
    ============================================= -->
<div class="brand-style-one-area text-center default-padding-top">
    <div class="container">
        <div class="brand-style-one">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand5col swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper align-center">

                            {% for brand in brands %}
                            <!-- Single Item -->
                            <div class="swiper-slide">
                                <img src="{{ HTTP_HOST }}/media/{{ brand.image }}" alt="{{ brand.name }}">
                            </div>
                            <!-- End Single Item -->
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Brand -->
        </div>
    </div>
</div>
<!-- End Brand -->

<!-- Start Testimonials 
    ============================================= -->
<div class="testimonial-area default-padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">My Expertise</h4>
                    <h2 class="title">Customers feedback</h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="testimonial-style-one-box text-center">
            <div class="row align-center">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-style-one-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            {% for feedback in feedbacks %}
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">

                                    <div class="item">

                                        <div class="thumb">
                                            <img src="{{ HTTP_HOST }}/media/{{ feedback.client.image }}" alt="Thumb">
                                            <div class="shape">
                                                <img src="{% static 'assets/img/shape/15.png' %}" alt="Shape">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <p>
                                                “{{ feedback.feedback }}”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>{{ feedback.client.name }}</h4>
                                                <span>{{ feedback.client.position }},
                                                    {{ feedback.client.company }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Testimonails Area -->

<!-- Start Available 
    ============================================= -->
<div class="work-available-area text-center box-layout bg-light default-padding">
    <div class="shape-right-top-mini">
        <img src="{% static 'assets/img/shape/16.png' %}" alt="illustration">
    </div>
    <div class="shape-illustration">
        <img src="{% static 'assets/img/illustration/2.png' %}" alt="illustration">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="work-available">
                    <h2 class="title">I'm <strong>available</strong> for <br> freelance work</h2>
                    <a class="btn btn-md circle btn-theme smooth-menu" href="#contact">Hire me now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Available -->

<!-- Start Blog 
    ============================================= -->
<div id="blog" class="blog-style-one-area blog-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">News</h4>
                    <h2 class="title">Latest from blog</h2>
                    <div class="devider"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            {% for blog in blogs %}
            <!-- Single item -->
            <div class="blog-style-one mb-30 col-lg-4 col-md-6">
                <div class="item">
                    <div class="thumb">
                        <a href="{% url 'blog.show'  blog.slug %}"><img src="{{ HTTP_HOST }}/media/{{ blog.image }}"
                                alt="Thumb"></a>
                    </div>
                    <div class="info">
                        <h4>
                            <a href="{% url 'blog.show'  blog.slug %}">{{ blog.title }}</a>
                        </h4>
                        <div class="meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i> {{ blog.created_at }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single item -->
            {% endfor %}


        </div>
    </div>

</div>
<!-- End Blog -->


{% endblock %}