{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Pricing 
    ============================================= -->
<div id="pricing" class="pricing-area default-padding">
    <div class="container">
        <div class="pricing-box">
            <div class="row">
                <div class="col-lg-5">
                    <div class="heading-left">
                        <div class="left-info">
                            <h5 class="sub-title">Pricing</h5>
                            <h2 class="title">The best pricing plans <br> to get your best</h2>
                            <div class="heading-shape">
                                <img src="{% static 'assets/img/shape/10.png' %}" alt="Shape">
                            </div>
                        </div>
                    </div>
                    <div class="save-ammount mt-100 mt-md-50">
                        <h4>Grow up your <strong>Business</strong> with a website you want</h4>
                        <img src="{% static 'assets/img/shape/2.webp'%}" alt="Thumb">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    {% for pricing in pricings %}
                    <div class="pricing-style-one">
                        <div class="conntent" style="flex-basis: 65%;">
                            <h4>{{ pricing.title }}</h4>
                            <ul>
                                {% for option in pricing.pricing_options_set.all %}
                                <li>{{ option.option }}</li>
                                {% endfor %}
                                
                            </ul>
                            <a class="btn mt-25 btn-sm circle {% if forloop.first %}btn-theme {% else %} btn-dark {% endif %}" href="#contact">Order Now</a>
                        </div>
                        <div class="price" style="flex-basis: 35%;">
                            <h2><sup>৳</sup> {{ pricing.price }}</h2>
                            {{ pricing.icon | safe }}
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Pricing Area -->
{% endblock %}